.nav-item:hover {
  background-color: rgba(187, 62, 62, 0.897);
  transition: 0.35s ease-in-out;
  transition-delay: 0.25s;
  border-radius: 10px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(255, 193, 193);
}

#projects {
  background-color: rgb(255, 193, 193);
}

section {
  padding-top: 5rem;
}
